button
{
    border-radius: 50px;
    background-color: #EEFFEE;
    border: 2px solid black;
    height: 30px;
    width: auto;
    text-align: center;
    font-size: 1em;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

body
{
    font-family: 'Roboto Mono', monospace;
    background-Color: #F0F0F0;
}